@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700&display=swap');

:root {
  font-family: 'Codec Pro', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-height: 4.5rem;
  --footer-height: 2rem;
  --logo-width: clamp(120px, 40vw, 200px);
  --logo-height: calc(var(--logo-width) / (24/18));

  --title-font-size: 1.75rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}